* {
    box-sizing: border-box;
}

body{
    font-family: Futura;
    background-size: 1365px 700px;
    background-color: #292929;
}
h1{
    text-align: center;
    font-size: 40px;
    color: #000;
    /* border-bottom: 1.8px solid rgba(127, 131, 131, 0.089); */
    background: linear-gradient(to right, #fff 20%, #65c7f7 40%, #0052D4 60%, #fff 80%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    color: transparent !important;
    animation: animate 2.5s linear infinite;
    
}
@keyframes animate{
    to{
        background-position: 200% center;
    }
}

h2 {
    text-align: center;
    color: rgba(245, 239, 240, 0.863);
    float:left;
    margin-left: 30px;
}
body p{
    font-family: Geneva;
    color: beige;
}
.top{
    padding-top: 100px;
    padding-bottom: 100px;    
}
ul{
    color: beige;
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0;
}
li {
    float: left;
    width: 25%;
}

header {
    border-bottom: 1px solid rgba(124, 124, 124, 0.5);
}

h3 {
    text-align: center;
}

.container {
    margin: 20px;
    text-align: center;
    clear: both;
}

.item {
    width: 25%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.item-box {
    height: 240px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px #cddcff;
}

.green {
    background-color: #11D8B3;
}

.yellow {
    background-color: #FFD466;
}

.red {
    background-color: #ED456D;
}

.blue {
    background-color: #3D7DD8;
    background-image: url("https://prog-8.com/images/html/advanced/php.png");
    background-size: cover;
}

  /* Untuk Tablet */
  /* Tambahkan breakpoint max-width: 1000px */
@media (max-width: 1000px) {
    .item {
        width: 50%;
    }
}


  /* Untuk Smartphone */
  /* Tambahkan breakpoint max-width: 670px */
@media (max-width: 670px) {
    .item {
        width: 100%;
    }
}


.btn {
    border-radius: 10px;
}

.btn:link {
    text-decoration: none
}

.btn:hover {
    opacity: 1;
}

.name {
    margin: 0px 0px;
    padding: 0px 0px;
    color: #000;
}

.github {
    padding: 10px 30px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0px 5px #1a7940;
    color: white;
    font-weight: bold;
}

.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.fas {
    color: #000000;
}

.float-left{
    float: left
}
.input-search{
    padding:10px;
    border:2px solid #3d7dd8;
    border-radius:5px;
    float: right;
    margin-right: 30px;
    margin-top:10px;
    outline: none;
    background-color: #d8d3d4;
    transition: all 0.2s;
}
.input-search:focus{
    box-shadow: 0px 0px 13px -1px white;
    background-color: white;
}