
body{
    font-family: Futura;
    background-size: 1365px 700px;
    background-color: #65c7f7;
}
h1{
    text-align: center;
    font-size: 40px;
    color: #000;
    /* border-bottom: 1.8px solid rgba(127, 131, 131, 0.089); */
    background: linear-gradient(to right, #fff 20%, #65c7f7 40%, #0052D4 60%, #fff 80%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    text-fill-color: transparent !important;
    animation: animate 2.5s linear infinite;
    
}
@keyframes animate{
    to{
        background-position: 200% center;
    }
}

h2{
    text-align: center;
    color: rgba(245, 239, 240, 0.863);
}
body p{
    font-family: Geneva;
    color: beige;
}
.top{
    padding-top: 100px;
    padding-bottom: 100px;    
}
ul{
    color: beige;
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0;
}
li {
    float: left;
    width: 25%;
}

header {
    border-bottom: 1px solid rgba(124, 124, 124, 0.5);
}

#table {
    border-collapse: collapse;
    width: 80%;
}
#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:hover {background-color: #ddd;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0052D4;
    color: white;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: center;
}