* {
    box-sizing: border-box;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #000;
    /* border-bottom: 1.8px solid rgba(127, 131, 131, 0.089); */
    background: linear-gradient(to right, #fff 20%, #65c7f7 40%, #0052D4 60%, #fff 80%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    color: transparent !important;
    animation: animate 2.5s linear infinite;
    
}
@keyframes animate{
    to{
        background-position: 200% center;
    }
}

h2 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.0);
}
body p{
    font-family: Geneva;
    color: beige;
}
.cover{
    object-fit: cover;  
    background-image: url(/asset/images/header.jpeg);
    background-size: cover;
    height: 500px;
}

.top {
    padding: 50px;
    height: 200px;
    background-color: #FFD466;
}
ul{
    list-style: none;
    text-align: center;
}
li {
    padding: 25px;
    display: inline-block;
}

.btn {
    background-color: rgb(179, 62, 124);
    padding: 20px 40px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 2px;
  }

header {
    border-bottom: 1px solid rgba(124, 124, 124, 0.5);
    margin-bottom: 50px;
}

h3 {
    text-align: center;
}

.container {
    margin: 30px 20px 20px 20px;
    text-align: center;
}

.item {
    width: 25%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.item-box {
    height: 240px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px #cddcff;
}

.green {
    background-color: #11D8B3;
}

.yellow {
    background-color: #FFD466;
}

.red {
    background-color: #ED456D;
}

.blue {
    background-color: #3D7DD8;
    background-image: url("https://prog-8.com/images/html/advanced/php.png");
    background-size: cover;
}

  /* Untuk Tablet */
  /* Tambahkan breakpoint max-width: 1000px */
@media (max-width: 1000px) {
    .item {
        width: 50%;
    }
}


  /* Untuk Smartphone */
  /* Tambahkan breakpoint max-width: 670px */
@media (max-width: 670px) {
    .item {
        width: 100%;
    }
}


.btn {
    border-radius: 10px;
}

.btn:link {
    text-decoration: none
}

.btn:hover {
    opacity: 1;
}

.fa-user-astronaut:before {
    color: white;
}

.name {
    margin: 0px 0px;
    padding: 0px 0px;
    color: #fff;
}

.github {
    padding: 10px 30px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0px 5px #1a7940;
    color: white;
    font-weight: bold;
}

.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.fas {
    color: #000000;
}